Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, safety-check, npm-audit, bundle-size-check

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

bundle-size-check:
  name: Bundle Size Check
  entry: bash -c 'cd frontend && npm run build && npx bundlesize'
  language: system
  pass_filenames: false

completionId: cgen-cca8358ab98a41f1afa7c2a5960dd857
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

Convert tree-shaking-optimizer to ES modules
  frontend/scripts/tree-shaking-optimizer.js
Due: bundle-size-check

Fix module exports in tree-shaking-optimizer
  frontend/scripts/tree-shaking-optimizer.js
Due: bundle-size-check

Convert bundle-analyzer to ES modules
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Fix module exports in bundle-analyzer
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Fix __dirname issue in tree-shaking-optimizer
  frontend/scripts/tree-shaking-optimizer.js
Due: bundle-size-check

Fix __dirname issue in bundle-analyzer
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

completionId: cgen-05ac924340d94ceebc64d71294678aaa
  frontend/reports/tree-shaking-analysis.json
Due: none

Fix PostCSS plugins import in optimized config
  frontend/vite.config.optimized.ts
Due: typescript-check, bundle-size-check

completionId: cgen-286a6eb2c5864d7db2f21df9ef0f77ac
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

Simplify React plugin config in optimized build
  frontend/vite.config.optimized.ts
Due: typescript-check, bundle-size-check

Fix PostCSS configuration format
  frontend/vite.config.optimized.ts
Due: typescript-check, bundle-size-check

Update bundle analyzer to handle multiple asset directories
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Update analyzeJavaScriptChunks to check multiple directories
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Update file path resolution in analyzeJavaScriptChunks
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Update analyzeCSSAssets to check multiple directories
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Update file path resolution in analyzeCSSAssets
  frontend/scripts/bundle-analyzer.js
Due: bundle-size-check

Implement DraftKings API integration service
  backend/services/sportsbook_apis/draftkings_api.py
Due: none

Implement BetMGM API integration service
  backend/services/sportsbook_apis/betmgm_api.py
Due: none

Implement Caesars API integration service
  backend/services/sportsbook_apis/caesars_api.py
Due: none

Create unified multiple sportsbook integration service
  backend/services/unified_sportsbook_service.py
Due: none

Create frontend sportsbook data service
  frontend/src/services/enhanced/SportsbookDataService.ts
Due: typescript-check, bundle-size-check

Create backend API routes for sportsbook integration
  backend/routes/multiple_sportsbook_routes.py
Due: none

Add multiple sportsbook routes to enhanced production integration
  backend/enhanced_production_integration.py
Due: none

Create Multiple Sportsbook Comparison Component
  frontend/src/components/sportsbook/MultipleSportsbookComparison.tsx
Due: typescript-check, bundle-size-check

Real-time WebSocket Notification Manager
  backend/services/realtime_notification_service.py
Due: none

Enhanced WebSocket Routes for Real-time Notifications
  backend/routes/realtime_websocket_routes.py
Due: none

Frontend Real-time Notification Service
  frontend/src/services/RealtimeNotificationService.ts
Due: typescript-check, bundle-size-check

Real-time Notification Components
  frontend/src/components/notifications/RealtimeNotificationCenter.tsx
Due: typescript-check, bundle-size-check

React Hook for Real-time Notifications
  frontend/src/hooks/useRealtimeNotifications.ts
Due: typescript-check, bundle-size-check

Fix missing imports in useRealtimeNotifications hook
  frontend/src/hooks/useRealtimeNotifications.ts
Due: typescript-check, bundle-size-check

Integrate notification service into unified sportsbook service
  backend/services/unified_sportsbook_service.py
Due: none

Add notification support to unified sportsbook service constructor
  backend/services/unified_sportsbook_service.py
Due: none

Add notification settings to unified sportsbook service
  backend/services/unified_sportsbook_service.py
Due: none

Add notification functionality to arbitrage detection
  backend/services/unified_sportsbook_service.py
Due: none

Add odds change detection and notification methods
  backend/services/unified_sportsbook_service.py
Due: none

Update FastAPI routes for real-time notifications
  backend/routes/enhanced_sportsbook_routes.py
Due: none

Add notification service initialization to enhanced production app
  backend/enhanced_production_integration.py
Due: none

Add notification service shutdown to enhanced production app
  backend/enhanced_production_integration.py
Due: none

Add enhanced notification and sportsbook routes
  backend/enhanced_production_integration.py
Due: none

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
