Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, safety-check, npm-audit, bundle-size-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$

latest
  GITHUB_SYNC_ISSUE_RESOLUTION.md
Due: none

latest
  frontend/src/components/PropOllamaUnified.tsx
  frontend/src/components/player/PlayerAdvancedStats.tsx
  frontend/src/components/player/PlayerDashboard.tsx
  frontend/src/components/player/PlayerMatchupAnalysis.tsx
  frontend/src/components/player/PlayerPerformanceTrends.tsx
  frontend/src/components/player/PlayerQuickStats.tsx
  frontend/src/components/user-friendly/UserFriendlyApp.tsx
  propFinder research/Comparison of A1Betting7-13.2 with PropFinder and Improvement Plan.md
  propFinder research/propfinder_research.md
Due: typescript-check, bundle-size-check

readmeupdate
  README.md
Due: none

LATEST
  .gitignore
  README.md
  backend/logs/unified.jsonl
  frontend/CONTRIBUTING.md
  frontend/check-dir.js
  frontend/package.json
  frontend/src/__tests__/components/PropOllamaUnified.e2e.test.tsx
  frontend/src/components/PropOllamaUnified.tsx
  frontend/src/components/comprehensive/__tests__/ComprehensiveAdminDashboard.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/pages/__tests__/LiveStream.test.tsx
Due: typescript-check, npm-audit, bundle-size-check

latest
  backend/logs/unified.jsonl
Due: none

Update lucide-react to support React 19
  frontend/package.json
Due: npm-audit

completionId: cgen-a65cd9c786ef4f54ada34619bf1f7ff2
  frontend/package-lock.json
Due: npm-audit

Add missing vite-tsconfig-paths dependency
  frontend/package.json
Due: npm-audit

Add missing Tailwind CSS and TypeScript dependencies
  frontend/package.json
Due: npm-audit

completionId: cgen-663430a837be430aa8c0de9682eb26bd
  frontend/package-lock.json
Due: npm-audit

Add missing Radix UI and utility dependencies
  frontend/package.json
Due: npm-audit

completionId: cgen-c789fbb1c63b495ba9f9ef3d4f3368e0
  frontend/package-lock.json
Due: npm-audit

Use vite-ignore comments to skip dependency processing
  frontend/src/utils/tracing.ts
Due: typescript-check, bundle-size-check

Temporarily disable OpenTelemetry tracing
  frontend/src/utils/tracing.ts
Due: typescript-check, bundle-size-check

Simplify tracing.ts to remove problematic imports
  frontend/src/utils/tracing.ts
Due: typescript-check, bundle-size-check

Fix process.env reference in WebSocketContext
  frontend/src/contexts/WebSocketContext.tsx
Due: typescript-check, bundle-size-check

Fix all process.env references in WebSocketContext
  frontend/src/contexts/WebSocketContext.tsx
Due: typescript-check, bundle-size-check

Fix process.env reference in ResetPasswordPage
  frontend/src/pages/auth/ResetPasswordPage.tsx
Due: typescript-check, bundle-size-check

Fix process.env reference in main.tsx
  frontend/src/main.tsx
Due: typescript-check, bundle-size-check

Add process polyfill to vite config
  frontend/vite.config.ts
Due: typescript-check, bundle-size-check

Fix API endpoint path to include /api prefix
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check

Create dedicated cheatsheets service with real-time capabilities
  frontend/src/services/cheatsheetsService.ts
Due: typescript-check, bundle-size-check

Update imports to use new cheatsheets service
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check

Remove duplicate PropOpportunity interface
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check

Add API health and performance monitoring state
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check

Replace fetch logic with optimized service call
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check

Replace mock data generation with API health check
  frontend/src/components/features/cheatsheets/CheatsheetsDashboard.tsx
Due: typescript-check, bundle-size-check
