Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, safety-check, npm-audit, bundle-size-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$

feat: Implement SportRadar service with comprehensive API integration and health monitoring
  docs/dev/stabilization_checklist.md
  docs/dev/stabilization_rollback.md
Due: none

feat: Enhance SportRadar service with comprehensive API methods and mock data handling
  .github/prompts/AGENT_EXECUTION_PROMPT.prompt.md
  docs/AGENT_EXECUTION_PROMPT.md
Due: none

phase:2.1 - Add type hints to backend services batch 1
  backend/services/auth_service.py
  backend/services/calculations.py
  backend/services/cheatsheets_service.py
  backend/services/comprehensive_observability.py
  backend/services/database_service.py
  backend/services/email_service.py
  backend/services/generate_realistic_mock_odds.py
  backend/services/trending_suggestions_service.py
  docs/RFC-Phase5-API-Consolidation.md
  docs/ROADMAP_CHECKLIST.MD
Due: none

phase:2.1 - Add type hints and future annotations batch 2
  backend/core/exceptions.py
  backend/core/response_models.py
  backend/models/base.py
  backend/models/bet.py
  backend/services/background_task_manager.py
  backend/services/performance_logger.py
  backend/services/risk_tools_service.py
  backend/services/transaction_service.py
  backend/utils/prediction_utils.py
  backend/utils/seasonal_utils.py
Due: none

phase:2.1 - Fix syntax errors in route files
  backend/routes/mlb_extras.py
  backend/routes/propollama.py
Due: none

docs:update - Mark phase 2.1 type hints tasks as complete
  docs/ROADMAP_CHECKLIST.MD
Due: none

phase:2.2 - Consolidate error codes and add validation
  backend/constants/__init__.py
  backend/constants/error_codes.py
  backend/services/background_task_manager.py
  backend/tests/test_error_codes.py
  backend/utils/prediction_utils.py
Due: none

phase:2.3 - Implement Redis caching for predictions and performance analysis
  backend/cache_performance_analysis.md
  backend/routes/betting.py
  backend/routes/cache_management_routes.py
  backend/routes/enhanced_ml_routes.py
  backend/services/redis_cache_service.py
  docs/ROADMAP_CHECKLIST.MD
Due: none

phase:3.1 - Optimize Zustand store structure and remove unused slices
  docs/ROADMAP_CHECKLIST.MD
  frontend/src/store/index.ts
  frontend/src/store/modelStore.d.ts
  frontend/src/store/modelStore.ts
  frontend/src/store/predictionStore.d.ts
  frontend/src/store/predictionStore.ts
  frontend/src/store/slices/__tests__/confidenceSlice.test.d.ts
  frontend/src/store/slices/__tests__/confidenceSlice.test.ts
  frontend/src/store/slices/authSlice.d.ts
  frontend/src/store/slices/authSlice.ts
  frontend/src/store/slices/bankrollSlice.d.ts
  frontend/src/store/slices/bankrollSlice.ts
  frontend/src/store/slices/betHistorySlice.d.ts
  frontend/src/store/slices/betHistorySlice.ts
  frontend/src/store/slices/betSlipSlice.d.ts
  frontend/src/store/slices/betSlipSlice.ts
  frontend/src/store/slices/confidenceSlice.d.ts
  frontend/src/store/slices/confidenceSlice.ts
  frontend/src/store/slices/dynamicDataSlice.d.ts
  frontend/src/store/slices/dynamicDataSlice.ts
  frontend/src/store/slices/notificationSlice.d.ts
  frontend/src/store/slices/notificationSlice.ts
  frontend/src/store/slices/prizePicksSlice.d.ts
  frontend/src/store/slices/prizePicksSlice.ts
  frontend/src/store/slices/simulationSlice.d.ts
  frontend/src/store/slices/simulationSlice.ts
  frontend/src/store/themeStore.d.ts
  frontend/src/store/themeStore.ts
  frontend/src/store/types.ts
  frontend/src/store/useAppStore.d.ts
  frontend/src/store/useAppStore.ts
  frontend/src/store/useStore.d.ts
  frontend/src/store/useStore.ts
  frontend/src/store/useThemeStore.d.ts
  frontend/src/store/useThemeStore.ts
  frontend/store_audit_phase3.1.md
Due: typescript-check, bundle-size-check

feat: Implement Phase 3.2 Component Optimization with Lazy Loading and Shared UI Components
  docs/ROADMAP_CHECKLIST.MD
  frontend/src/components/PHASE_3.2_COMPONENT_OPTIMIZATION_COMPLETE.md
  frontend/src/components/examples/ComponentUsageExamples.tsx
  frontend/src/components/lazy/LazyPredictions.tsx
  frontend/src/components/lazy/LazySHAPDashboard.tsx
  frontend/src/components/lazy/index.tsx
  frontend/src/components/lazy/types.ts
  frontend/src/components/lazy/utils.tsx
  frontend/src/components/shared/ErrorDisplay.tsx
  frontend/src/components/shared/GlassCard.tsx
  frontend/src/components/shared/LoadingSpinner.tsx
  frontend/src/components/shared/StatusBadge.tsx
  frontend/src/components/shared/index.tsx
Due: typescript-check, bundle-size-check

phase:3.3 - UI/UX consistency with design tokens system
  frontend/src/components/shared/Input.tsx
  frontend/src/components/shared/Modal.tsx
  frontend/src/components/shared/Tooltip.tsx
  frontend/src/components/shared/index.ts
  frontend/src/styles/tokens.css
Due: typescript-check, bundle-size-check

phase:4.1 - Backend integration and contract tests complete
  tests/backend/routes/test_api_contract_compliance.py
  tests/backend/routes/test_auth_routes.py
  tests/backend/routes/test_portfolio_optimization_routes.py
  tests/backend/routes/test_prediction_engine_routes.py
Due: none

phase:4.2 - Complete Frontend Tests with comprehensive test suites
  docs/ROADMAP_CHECKLIST.MD
  frontend/src/components/__tests__/AppFlows.test.tsx
  frontend/src/components/__tests__/ErrorBoundaries.test.tsx
  frontend/src/components/__tests__/Filters.test.tsx
  frontend/src/components/__tests__/Predictions.test.tsx
  frontend/src/components/shared/Button.tsx
  frontend/src/components/shared/GlassCard.tsx
  frontend/src/contexts/__tests__/MetricsContext.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/contexts/__tests__/WebSocketContext.test.tsx
Due: typescript-check, bundle-size-check

phase:4.3 - Complete CI/CD Pipeline Enhancement with Advanced Workflows
  .github/workflows/ci-cd.yml
  .github/workflows/phase4-enhanced-ci-cd.yml
  .lighthouserc.json
  docker-compose.test.yml
  docs/ROADMAP_CHECKLIST.MD
Due: none

Phase 5.1: Consolidate Route Files
  backend/routes/consolidated_ml.py
  backend/routes/consolidated_prizepicks.py
  backend/routes/enhanced_ml_routes.py
  backend/routes/modern_ml_routes.py
  backend/routes/prizepicks.py
  backend/routes/prizepicks_router.py
  backend/routes/prizepicks_simple.py
Due: none

✅ PHASE 5 COMPLETED: API Consolidation & OpenAPI Documentation
  PHASE_5_COMPLETION_REPORT.md
  backend/core/app.py
  backend/routes/consolidated_admin.py
  backend/routes/mlb_extras.py
  backend/routes/mlb_extras_broken.py
  backend/routes/mlb_extras_fixed.py
  docs/API_AUDIT_REPORT.md
  docs/OPENAPI_DOCUMENTATION.md
  docs/ROADMAP_CHECKLIST.MD
  docs/openapi.json
  generate_openapi.py
Due: none

📋 Autonomous Execution Summary - Phase 5 Complete
  AUTONOMOUS_EXECUTION_SUMMARY.md
Due: none

feat: Implement Consolidated API Integration with comprehensive testing and hooks
  PHASE_2_1_TYPE_SAFETY_COMPLETION.md
  POST_PHASE_5_FRONTEND_INTEGRATION_COMPLETE.md
  backend/routes/cache_management_routes.py
  backend/routes/consolidated_admin.py
  backend/routes/mlb_extras_fixed.py
  docs/ROADMAP_CHECKLIST.MD
  frontend/src/components/testing/ConsolidatedAPITest.tsx
  frontend/src/hooks/useConsolidatedAPI.ts
  frontend/src/services/APIIntegrationLayer.ts
  frontend/src/services/ConsolidatedAPIClient.ts
Due: typescript-check, bundle-size-check

feat(tracing): Implement lightweight span and trace management utilities
  CHANGELOG.md
  backend/core/app.py
  backend/middleware/legacy_middleware.py
  backend/middleware/request_id_middleware.py
  backend/routes/meta_legacy.py
  backend/routes/trace_test_routes.py
  backend/services/legacy_registry.py
  backend/tests/test_legacy_disable_flag.py
  backend/tests/test_legacy_usage.py
  backend/utils/log_context.py
  backend/utils/trace_utils.py
  docs/migration/legacy_deprecation_plan.md
  frontend/src/diagnostics/LegacyUsagePanel.tsx
  frontend/src/legacy/useLegacyUsage.ts
  frontend/src/services/HttpClient.ts
  tests/test_cache_pr6.py
Due: typescript-check, bundle-size-check

feat: Enhance web vitals reporting with deduplication and memory management
  POST_FIX_HARDENING_IMPLEMENTATION_COMPLETE.md
  backend/routes/auth.py
  backend/tests/test_auth_route_conformance.py
  dev-commands.ps1
  frontend/src/components/ValidatorEventMonitor.tsx
  frontend/src/services/coreFunctionalityValidator.ts
  frontend/src/webVitals.ts
  smoke-test.ps1
Due: typescript-check, bundle-size-check

refactor(metrics): add normalization utility & apply to crash-prone components
  frontend/src/components/ai/AdvancedAIDashboard.tsx
  frontend/src/components/phase4/PerformanceMonitoringDashboard.tsx
  frontend/src/hooks/usePredictionCacheManager.ts
  frontend/src/metrics/metricsStore.ts
  frontend/src/metrics/normalizeMetrics.ts
  frontend/src/services/predictionCache.ts
Due: typescript-check, bundle-size-check

feat: Add comprehensive tests for metrics normalization and safety
  API_DOCUMENTATION.md
  DEFENSIVE_METRICS_NORMALIZATION_IMPLEMENTATION.md
  docs/websockets/LEGACY_MIGRATION_NOTICE.md
  frontend/WEBSOCKET_MIGRATION_COMPLETE.md
  frontend/jest.env.mock.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ai/AdvancedAIDashboard.tsx
  frontend/src/components/layout/PrimaryNavigationFallback.tsx
  frontend/src/components/shared/ErrorBoundary.tsx
  frontend/src/contexts/Phase3Context.tsx
  frontend/src/hooks/useRealtimeData.ts
  frontend/src/hooks/useUnifiedApi.ts
  frontend/src/main.tsx
  frontend/src/metrics/metricsStore.test.ts
  frontend/src/metrics/normalizeMetrics.test.ts
  frontend/src/services/DeprecatedEnhancedDataManager.ts
  frontend/src/services/EnhancedDataManager.ts
  frontend/src/services/EnhancedDataManagerRealtimeShim.ts
  frontend/src/services/WebSocketManager.ts
  frontend/src/services/coreFunctionalityValidator.ts
  frontend/src/services/index.ts
  frontend/src/services/liveDemoEnhancementService.ts
  frontend/src/services/performance/PerformanceOptimizationService.ts
  frontend/src/services/validator/navReadiness.ts
  frontend/src/websocket/__tests__/buildWebSocketUrl.test.ts
  frontend/src/websocket/buildWebSocketUrl.ts
  frontend/src/websocket/devVerify.ts
  tools/check-no-legacy-ws.sh
Due: typescript-check, npm-audit, bundle-size-check

feat: Implement runtime debugging infrastructure and safe object utilities
  RUNTIME_ERROR_DEBUGGING_COMPLETE.md
  WEBSOCKET_MIGRATION_RESILIENCE_COMPLETE.md
  frontend/src/components/GlobalErrorBoundary.tsx
  frontend/src/debug/runtimeErrorTester.ts
  frontend/src/debug/verifyDebugging.ts
  frontend/src/main.tsx
  frontend/src/runtimeDebug.ts
  frontend/src/services/EnhancedDataManager.ts
  frontend/src/services/coreFunctionalityValidator.ts
  frontend/src/utils/objectGuards.ts
  frontend/src/utils/safeEnvironment.ts
  frontend/src/utils/safeLocalStorage.ts
  frontend/src/websocket/WebSocketManager.ts
Due: typescript-check, bundle-size-check

feat: Implement model metrics accessors and normalization utilities
  docs/model_metrics_normalization.md
  frontend/package.json
  frontend/src/components/__tests__/AdvancedAIDashboard.metrics.regression.test.tsx
  frontend/src/components/phase4/PerformanceMonitoringDashboard.tsx
  frontend/src/utils/__tests__/ensureModelMetricsShape.test.ts
  frontend/src/utils/__tests__/modelMetricsAccessors.test.ts
  frontend/src/utils/ensureMetricsShape.ts
  frontend/src/utils/ensureModelMetricsShape.ts
  frontend/src/utils/modelMetricsAccessors.ts
  scripts/detect-model-metrics-violations.js
Due: typescript-check, npm-audit, bundle-size-check
