Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, safety-check, npm-audit, bundle-size-check

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

bundle-size-check:
  name: Bundle Size Check
  entry: bash -c 'cd frontend && npm run build && npx bundlesize'
  language: system
  pass_filenames: false

Update README.md with current project status and Phase 4 completion
  README.md
Due: none

Update APIKeysConfig to include default SportRadar API key
  backend/config_manager.py
Due: none

Create comprehensive SportRadar API routes
  backend/routes/comprehensive_sportradar_routes.py
Due: none

Add SportRadar routes to optimized production integration
  backend/optimized_production_integration.py
Due: none

Include SportRadar router in the FastAPI app
  backend/optimized_production_integration.py
Due: none

Create frontend SportRadar integration service
  frontend/src/services/sportRadarService.ts
Due: typescript-check, bundle-size-check

Create SportRadar dashboard component
  frontend/src/components/features/sportradar/SportRadarDashboard.tsx
Due: typescript-check, bundle-size-check

Update README.md with comprehensive SportRadar integration and clean structure
  README.md
Due: none

Implement comprehensive SportRadar integration service with robust API client and mock data handling
  backend/API_AUDIT_REPORT.md
Due: none

Enhance SportRadarService with robust API client integration and comprehensive data handling
  backend/routes/unified_api.py
Due: none

Refactor SportRadarService and response handling with robust API client integration and standardized response envelopes
  backend/routes/unified_api.py
  backend/utils/response_envelope.py
Due: none

feat: Implement SportRadarService for comprehensive sports data integration
  backend/API_AUDIT_REPORT.md
  backend/routes/admin.py
  backend/routes/trending_suggestions.py
  backend/routes/unified_api.py
  backend/services/trending_suggestions_service.py
  backend/tests/test_response_contract.py
Due: none

feat: update dependencies and improve WebSocket handling
  backend/api_integration.py
  backend/tests/test_response_contract.py
  backend/tests/test_websocket_contract.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useWebSocket.ts
  frontend/src/types/api.test.ts
  frontend/src/types/api.ts
  frontend/tsconfig.json
  frontend/tsconfig.test.json
Due: typescript-check, npm-audit, bundle-size-check

docs: add changelog and release notes for Batch 2 WebSocket standardization
  CHANGELOG.md
  RELEASE_NOTES_BATCH2.md
Due: none

Add legacy test failures summary and categorize issues
  CHANGELOG.md
  RELEASE_NOTES_BATCH2.md
  backend/tests/test_api_key_auth.py
  backend/tests/test_auth_routes.py
  backend/tests/test_production_integration.py
  backend/tests/test_propollama_api.py
  backend/tests/test_security_endpoints.py
  frontend/backend/logs/errors.jsonl
  frontend/backend/logs/unified.jsonl
  legacy_test_failures_summary.md
Due: none

feat(tests): Refactor test cases to use data-testid attributes for improved selector reliability
  frontend/src/__tests__/App.empty-state.e2e.test.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/BettingInterface.e2e.test.tsx
  frontend/src/__tests__/DashboardNavigation.e2e.test.tsx
  frontend/src/__tests__/ServiceRegistryHealth.e2e.test.tsx
  frontend/src/__tests__/WebSocketConnection.e2e.test.tsx
  frontend/src/__tests__/components/PropOllamaUnified.e2e.test.tsx
  frontend/src/components/WebSocketStatusIndicator.tsx
  frontend/src/components/__tests__/AppFlows.test.tsx
  frontend/src/components/betting/UnifiedBettingInterface.tsx
  frontend/src/components/common/HealthBanner.tsx
  frontend/src/services/unified/FeaturedPropsService.mock.ts
Due: typescript-check, bundle-size-check

Implement code changes to enhance functionality and improve performance
  frontend/failed-tests.json
  frontend/src/components/betting/BetSlipComponent.tsx
  frontend/src/components/betting/UnifiedBettingInterface.tsx
  frontend/src/components/features/betting/ArbitrageOpportunities.tsx
Due: typescript-check, bundle-size-check

Refactor code structure for improved readability and maintainability
  frontend/src/components/betting/UnifiedBettingInterface.tsx
  frontend/unified-betting-results.json
Due: typescript-check, bundle-size-check

feat: Implement SportRadarService with comprehensive API integration and mock data handling for cloud environments
  backend/core/app.py
  backend/services/enhanced_data_pipeline.py
  backend/testing/test_suite_unified.py
Due: none

feat: Implement SportRadarService with comprehensive API integration and mock data handling
  add_security_response_models.py
  backend/API_AUDIT_REPORT.md
  backend/routes/security_routes.py
  convert_security_httpexceptions.py
  convert_security_returns.py
Due: none

feat: Complete API contract conversion for PropOllama
  PROPOLLAMA_CONVERSION_COMPLETED.md
  backend/routes/priority2_realtime_routes.py
  backend/routes/propollama.py
  convert_dataresponse_returns.py
  convert_multiline_httpexceptions.py
  convert_propollama_returns.py
  convert_propollama_violations.py
  convert_remaining_apiresponse.py
  convert_remaining_httpexceptions.py
  convert_response_models.py
  final_compliance_check.py
  focused_compliance_check.py
  priority2_realtime_routes_compliance_summary.md
  verify_propollama_conversion.py
Due: none

feat: Implement Typed API Client and Hooks for Type-Safe API Interactions
  STRUCTURED_LOGGING_METRICS_COMPLIANCE_IMPLEMENTATION_COMPLETE.md
  WEBSOCKET_TYPED_API_IMPLEMENTATION_COMPLETE.md
  backend/core/app.py
  backend/integration_test_runner.py
  backend/middleware/__init__.py
  backend/middleware/prometheus_metrics_middleware.py
  backend/middleware/structured_logging_middleware.py
  backend/routes/realtime_websocket_routes.py
  backend/smoke_test_runner.py
  backend/tests/smoke/__init__.py
  backend/tests/smoke/websocket_envelope_smoke_tests.py
  backend/ws.py
  frontend/src/components/demo/TypedAPIDemo.tsx
  frontend/src/hooks/useTypedAPI.ts
  frontend/src/hooks/useTypedWebSocket.ts
  frontend/src/services/TypedAPIClient.ts
  frontend/src/types/webSocket.ts
  openapi-schema.json
  websocket_compliance_report.json
Due: typescript-check, bundle-size-check

Implement Phase 1 Step 6: Security Headers Middleware
  PHASE1_STEP6_IMPLEMENTATION_COMPLETE.md
  backend/config/settings.py
  backend/core/app.py
  backend/middleware/prometheus_metrics_middleware.py
  backend/middleware/security_headers.py
  backend/routes/csp_report.py
  backend/routes/mlb_extras.py
  docs/security/PHASE1_STEP6_COMPLETE.md
  tests/security/test_security_headers.py
  tests/security/test_security_headers_basic.py
  tests/security/test_security_headers_core.py
Due: none

Add comprehensive tests for security headers middleware
  STEP6_SECURITY_HEADERS_VALIDATION_COMPLETE.md
  backend/config/settings.py
  backend/core/app.py
  backend/middleware/security_headers.py
  backend/routes/csp_report.py
  csp_report_examples.json
  debug_strict_mode.py
  docs/architecture/middleware_decisions.md
  docs/observability/metrics_catalog.md
  docs/security/security_headers.md
  headers_sample_step6.txt
  metrics_sample_step6.txt
  tests/security/headers/test_security_headers_basic.py
  tests/security/headers/test_security_headers_csp.py
  tests/security/headers/test_security_headers_errors.py
  tests/security/headers/test_security_headers_metrics.py
  tests/security/headers/test_security_headers_strict_mode.py
Due: none

feat: Implement SportRadar service with comprehensive API integration and security headers
  csp_header_sample.txt
  deferrals_step6.md
  final_summary_step6.md
  headers_on_error_sample.txt
  metrics_sample_step6_filtered.txt
  sanitized_log_example.txt
  security_step6_check.json
  test_csp_report.json
Due: none

feat: Implement emergency stabilization measures for health endpoints and monitoring
  CHANGELOG.md
  FRONTEND_API_UNIFICATION_COMPLETE.md
  HEALTH_ENDPOINTS_NORMALIZATION_SUMMARY.md
  STABILIZATION_QUICK_REFERENCE.md
  backend/config/settings.py
  backend/core/app.py
  docs/dev/lean_mode.md
  frontend/src/App.tsx
  frontend/src/components/LeanModeBanner.tsx
  frontend/src/components/debug/DataFetchTest.tsx
  frontend/src/components/reliability/ReliabilityIntegrationWrapper.tsx
  frontend/src/config/apiConfig.ts
  frontend/src/hooks/useRealtimeData.ts
  frontend/src/services/ConsolidatedCacheManager.ts
  frontend/src/services/EnhancedDataManager.ts
  frontend/src/services/HttpClient.ts
  frontend/src/services/RealTimePlayerDataService.ts
  frontend/src/services/api/EnhancedApiService.ts
  frontend/src/services/reliabilityMonitoringOrchestrator.ts
  frontend/src/services/unified/UnifiedDataService.ts
  frontend/src/utils/api.ts
  frontend/src/utils/leanMode.ts
  frontend/test-api-config.js
  stabilization_summary.md
  stabilization_verification.py
  test_stabilization.py
  tests/stabilization/test_health_aliases.py
Due: typescript-check, bundle-size-check

Add comprehensive tests for backend lean mode and unified data service
  CHANGELOG.md
  PERFORMANCE_MONITORING_OPTIMIZATION_COMPLETE.md
  README.md
  backend/core/app.py
  docs/architecture/architecture_notes.md
  docs/dev/stabilization_lean_mode.md
  frontend/src/services/liveDemoPerformanceMonitor.ts
  frontend/src/services/unified/UnifiedDataService.ts
  frontend/src/services/unified/__tests__/UnifiedDataService.regression.test.ts
  frontend/src/services/webVitalsService.ts
  frontend/test_unified_data_service.js
  scripts/check_ws_url.cjs
  scripts/verify_stabilization.bat
  scripts/verify_stabilization.ps1
  scripts/verify_stabilization.sh
  tests/stabilization/test_backend_lean_mode.py
  tests/stabilization/test_stabilization_matrix.py
  tests/stabilization/test_unified_data_service.ts
  verify_stabilization_fixes.py
Due: typescript-check, bundle-size-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
